#miLienzo {
    border: 3px solid black;
    background-image: url(https://cdn.friendlystock.com/wp-content/uploads/2019/07/2-alien-world-background-cartoon-clipart-500x281.jpg);
    margin-right: 500px;
    float: bottom 50xp left;

}